# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_USERNAME=root
MONGO_PASSWORD=rootpassword
MONGO_DB_NAME=detection_db

# InfluxDB Configuration
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=supercalifragilisticexpialidocious
INFLUXDB_ORG=projeto-recifavela
INFLUXDB_BUCKET=metrics

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=images
MINIO_USE_SSL=false

# Application Configuration
LOG_LEVEL=INFO
BATCH_SIZE=32
